.mainSec{
    width: 100%;
    >div{
        >div{
            >div{
                padding: 0 3%;
                figure{
                    >figcaption{
                    }
                    >img{width: 100%;}
                }
            }
            &:nth-of-type(2){
                color: red;
            }
            &:nth-of-type(3){
                color: red;
            }    
        }
    }
}



@media (max-width: 1000px) {
}

@media (max-width: 800px) {
}

@media (max-width: 380px) {
}


