.popBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  >.bPoster{
    margin: 0;
    padding: 0;
    margin-top: -200px;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:opacity(0.6);
    // background: linear-gradient(0deg, #ff0000, #00ff00);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(0deg, #f1f1f1, transparent);
    }
  }
	.titleBox{
    width: 100%;
    padding: 0 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: -700px 130px 100px 130px;
    >.titlePosterBox{
      width: 30%;
      >figure{
        img{
          width: 100%;
          border-radius: 30px;
        }
      }  
    }
		.infoBox{
			width: 70%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			margin: 0 30px;
			.titleName{
				font-size: 4rem;
				margin: 11px 0;
			}
			.genresBox{
				display: flex;
				>p{
					border-bottom: 3px solid red;
					padding: 13px;
					margin: 11px 20px 11px 0;
				}
			}
			.descBox{
				margin: 20px 0;
				width: 100%;
				.descTitle{
					font-size: 1.3rem;
					margin: 8px 0;
				}
				.descText{
					
				}
			}
			.timeBox{
				display: flex;
				align-items: center;
				margin: 30px 0;
				.timeTitle{
					font-size: 1.3rem;
					margin: 0 20px 0 0;
				}
				.time{}
			}
		}
		}
	.castBox{
    width: 100%;
    padding: 0 3%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 50px 0;
		>p{font-size: 3rem;}
		.pics{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			.castPic{
				margin: 20px 13px;
				width: 130px;
				height: 200px;
				img{width: 100%;}
			}
		}
	}
	.videoBox{
    width: 100%;
    padding: 0 3%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 50px 0;
		>p{font-size: 3rem;}
		.vids{
      width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
      >figure{
        margin: 20px 0;
        width: 100%;
        height: 800px;
        iframe{
          width: 100%;
          height: 100%;
        }  
      }
		}
	}
  .similarBox{
    padding: 0 3%;
    >.title{
      font-size: 3rem;
      margin-bottom: 50px;
    }
    width: 100vw;
    text-align: center;
    .simContent{  
      >figcaption{
        font-size: 1.3rem;
        margin-bottom: 8px;
      }
      >img{
        width: 100%;
        border-radius: 13px;
        box-shadow: 0 0 13px gray;
      }
    }
    >div{
      >div{
        &:nth-of-type(2){color: red;}
        &:nth-of-type(3){color: red;}
      }
    }
  }
}


@media (max-width: 1000px) {
  .popBox{
    .titleBox{
      >.titlePosterBox{
        width: 40%;
        >figure{
          img{
          }
        }  
      }
      .infoBox{
        width: 60%;
        .titleName{
        }
        .genresBox{
          >p{
          }
        }
        .descBox{
          .descTitle{
          }
          .descText{
          }
        }
        .timeBox{
          .timeTitle{
          }
          .time{}
        }
      }
      }
    .castBox{
      >p{}
      .pics{
        .castPic{
          img{}
        }
      }
    }
    .videoBox{
      >p{}
      .vids{
        >figure{
          height: 800px;
          iframe{
          }  
        }
      }
    }
  }  
}


@media (max-width: 800px) {
  .popBox{
    .titleBox{
      flex-direction: column;
      >.titlePosterBox{
        width: 100%;
        >figure{
          img{
          }
        }  
      }
      .infoBox{
        width: 100%;
        .titleName{
        }
        .genresBox{
          >p{
          }
        }
        .descBox{
          .descTitle{
          }
          .descText{
          }
        }
        .timeBox{
          .timeTitle{
          }
          .time{}
        }
      }
      }
    .castBox{
      >p{}
      .pics{
        .castPic{
          img{}
        }
      }
    }
    .videoBox{
      >p{}
      .vids{
        >figure{
          height: 500px;
          iframe{
          }  
        }
      }
    }
  }  
}


@media (max-width: 380px) {
  .popBox{
    .titleBox{
      flex-direction: column;
      >.titlePosterBox{
        width: 100%;
        >figure{
          img{
          }
        }  
      }
      .infoBox{
        width: 100%;
        .titleName{
        }
        .genresBox{
          >p{
          }
        }
        .descBox{
          .descTitle{
          }
          .descText{
          }
        }
        .timeBox{
          .timeTitle{
          }
          .time{}
        }
      }
      }
    .castBox{
      >p{}
      .pics{
        .castPic{
          img{}
        }
      }
    }
    .videoBox{
      >p{}
      .vids{
        >figure{
          height: 300px;
          iframe{
          }  
        }
      }
    }
  }  
}
