html {
	body {
		nav {
			text-align: center;
		}
		main {
			.movieWrite{
				text-align: center;
				button {
					font-size: 20px;
					margin: 0 auto;
				}
				.bfBttn {
					&.active {
						display: none;
					}
				}	
			}
			.TvWrite {
				text-align: center;
				button {
					font-size: 20px;
					margin: 0 auto;
				}
				.bfBttn {
					&.active {
						display: none;
					}
				}	
			}
		}
	}
}

ul {
	display: flex;
	flex-wrap: wrap;
	gap: 100px;

	a {
		display: flex;
		flex-direction: column;
		width: 300px;
		height: 500px;
	}

	li {
		display: flex;
		flex-direction: column;
		width: 300px;
		height: 500px;
	}
}
